
.navright, .uppernav {
  float:left;
  background-color:#FF604E;
      z-index:2;
  }
  .uppernav {
  width: calc(100vw - 60px);
  height: 60px;
  position: sticky;
  position: absolute;
  top: 0px;
  left: 60px;
  float: left;
  position: fixed;
  float:left;
  left: 60px;
  top: 0px;
  z-index: 2;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
display: block;
width: 60px;
height: calc(100vh - 60px);
background-color:#D65344;
position: fixed;
float:left;
left: 0px;
top: 60px;
}

#button{ 
width: 60px;
height: 60px;
float:left;
position: fixed;
left:0px;
top:0px;
float:left;
background-color: #CF5D50;
border:none;

}

li a {
display: block;
color: #000;
padding: 5px;
padding-top: 15px;
padding-bottom: 0px;
height: 35px;
text-align:center;
text-decoration: none;
}


li a:hover {
background-color: #555;
color: white;
}
a{
background-color: gray;
margin-left: auto;
margin-right: auto;
}

.menu{
width: 60%;
height: 60%;
}
.transition1{
animation: fadeIn1 1s;
-webkit-animation: fadeIn1 1s;  
transform: scaleX(0);
transform-origin:left;
}
@keyframes fadeIn1{
from{
transform: scaleX(1);
}
to{
transform:scaleX(0);
}
}

.transition2{
animation: fadeIn2 1s; 
-webkit-animation: fadeIn2 1s;  ;
transform: scaleX(1);
transform-origin:left;
}

@keyframes fadeIn2{
from{
transform: scaleX(0);
}
to{
transform:scaleX(1);
}
}
#body{
width: calc( 100% - 80px );
height: fit-content;
background-color: rgb(204, 223, 238);
color: rgb(35, 48, 56);
padding: 10px;
margin-right:0px ;
margin-top: 60px;
position: absolute;
right:0px;
top:0px;
transition: width  1s;
}

#body2{
width: calc(100% - 20px);
height: fit-content;
background-color: rgb(204, 223, 238);
color: rgb(35, 48, 56);
padding: 10px;
margin-right:0px ;
margin-top: 60px;
margin-left: 0px;
position: absolute;
right:0px;
top:0px;
transition:  width  0.9s;
}

nav {
  background-color:#FF604E;
  width:100%;
  position:fixed;
  top:0;
}

.logo {
  height:70px;
}
.logoimage {
  height:65px;
}
.logo {
  padding-left:20px;
  width:fit-content;
}
.gg-bell {
  width: 14px;
  height: 14px;
  position:absolute;
  top:25px;
  right:94px;
}
.chat {
  width: 14px;
  height: 14px;
  position:absolute;
  top:22px;
  right:50px;
}
