#questionbuttonright{
    border: 1px solid black;
    margin-left: 5px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 0pt;
    background-color: gray;
}

#questionbuttonright3{
    border: 1px solid black;
    margin-left: 5px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 0pt;
    background-color: grey;
}

#questionbuttonright4{
    border: 1px solid black;
    margin-left: 5px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 0pt;
    background-color: grey;
}
.questionbuttonright2{
    border: 1px solid black;
    margin-left: 5px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 0pt;
background-image:url('check.png');
background-color:#48C9B0!important;
background-size: cover;
}
.questionbuttonwrong{
    border: 1px solid black;
    margin-left: 5px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 0pt;
background-color: gray;
}
.questionbuttonwrong3{
    border: 1px solid black;
    margin-left: 5px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 0pt;
background-color: gray;
}

.questionbuttonwrong4{
    border: 1px solid black;
    margin-left: 5px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 0pt;
background-color: gray;
}

.questionbuttonwrong2{
    border: 1px solid black;
    margin-left: 5px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 0pt;
background-image:url('X.png');
background-color: rgb(233, 105, 105);
background-size: cover;
}


#number{
    width: 90px;
    height: 120px;
    float: left;
    background-color: rgb(211, 211, 211);
    font-size: 12px;
    padding: 2px;
    border: rgb(155, 158, 158) solid 1px;
    }
    
    #number2{
    width: 90px;
    height: 120px;
    float: left;
    background-color: rgb(211, 211, 211);
    font-size: 12px;
    padding: 2px;
    border: rgb(155, 158, 158) solid 1px;
    }

    #number3{
        width: 90px;
        height: 120px;
        float: left;
        background-color: rgb(211, 211, 211);
        font-size: 12px;
        padding: 2px;
        border: rgb(155, 158, 158) solid 1px;
        }

       
        #count1{
width: 30px;
height: 30px;
padding-top: 10px;
border: 1px solid black;
font-size: 20px;
text-align: center;
        border-radius: 10%;
        float: left;
        margin-left: 10px;
        margin-top: 5px;
        }
        
        #count2{
            width: 30px;
            height: 30px;
            border: 1px solid black;
            padding-top: 10px;
            font-size: 20px;
            text-align: center;
                    border-radius: 10%;
                    float: left;
                    margin-left: 10px;
                    margin-top: 5px;
                    }

                    #count3{
                        width: 30px;
                        height: 30px;
                        font-size: 20px;
                        padding-top: 10px;
                        text-align: center;
                        border: 1px solid black;
                        border-radius: 10%;
                    float: left;
                    margin-left: 10px;
                    margin-top: 5px;
                                }

                                @media only screen and (max-width: 576px){
                                    #count1{
                                        width: 30px;
                                        height: 40px;
                                        border: 1px solid black;
                                                border-radius: 10%;
                                                float: left;
                                                margin-left: 10px;
                                                margin-top: 0px;
                                                }
                                                
                                                #count2{
                                                    width: 30px;
                                                    height: 40px;
                                                    border: 1px solid black;
                                                            border-radius: 10%;
                                                            float: left;
                                                            margin-left: 10px;
                                                            margin-top: 0px;
                                                            }
                                        
                                                            #count3{
                                                                width: 30px;
                                                                height: 40px;
                                                                border: 1px solid black;
                                                                border-radius: 10%;
                                                            float: left;
                                                            margin-left: 10px;
                                                            margin-top: 0px;
                                                                        }
                                                                    }

                                                                                    